* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.evenly {
  justify-content: space-evenly;
}
.middle {
  align-items: center;
}
.center {
  text-align: center;
  justify-content: center;
}

.col-1 {
  max-width: 8.33333%;
  flex-basis: 8.33333%;
}
.col-2 {
  max-width: 16.66666%;
  flex-basis: 16.66666%;
}
.col-3 {
  max-width: 25%;
  flex-basis: 25%;
}
.col-4 {
  max-width: 33.33333%;
  flex-basis: 33.33333%;
}
.col-5 {
  max-width: 41.66666%;
  flex-basis: 41.66666%;
}
.col-6 {
  max-width: 50%;
  flex-basis: 50%;
}
.col-7 {
  max-width: 58.33333%;
  flex-basis: 58.33333%;
}
.col-8 {
  max-width: 66.66666%;
  flex-basis: 66.66666%;
}
.col-9 {
  max-width: 75%;
  flex-basis: 75%;
}
.col-10 {
  max-width: 83.33333%;
  flex-basis: 83.33333%;
}
.col-11 {
  max-width: 91.66666%;
  flex-basis: 91.66666%;
}
.col-12 {
  max-width: 100%;
  flex-basis: 100%;
}

